{
    // most folder contexts extend rules in a language-specific way (e.g. src, lambda) so these are a catch-all for other folders
    "root":true,
    "extends": [
        "./node_modules/klassi-js/runtime/coding-standards/eslint/eslint.config.js"
    ]
}